include setup.py README.rst MANIFEST.in LICENSE AUTHORS
recursive-include src/newspeak/fixtures *
recursive-include src/newspeak/templates *
recursive-include src/newspeak/locale *
recursive-include src/newspeak/static *
