include setup.py README.rst MANIFEST.in LICENSE AUTHORS
recursive-include newspeak/fixtures *
recursive-include newspeak/templates *
recursive-include newspeak/locale *
recursive-include newspeak/static *
