#encoding UTF-8
#filter WebSafe
<!DOCTYPE html>
<html>
    <head>
        <title>$title</title>
        <link rel="alternate" href="$uri_rss" title="$title" type="application/rss+xml"/>
        <style type="text/css">
          body { font-family: Georgia; font-size: 16px; margin-left: 60px; }
        </style>
    </head>
    <body>
        <h1>$title</h1>
        <p>$description</p>
        <p><a href="$uri_rss">RSS feed</a> based on $num_feeds sources:</p>
        <ul>
            #for $feed in $feeds
            <li><a href="$feed[1]">$feed[4]</a> 
            #if ($feed[2] == '2') 
                (filtered)
            #end if
            </li>
            #end for
        </ul>
        <p>Feeds marked as "filtered" are matched using the following keywords:</p>
        <ul>
            #for $keyword in $keywords
                <li>$keyword</li>
            #end for
        </ul>

        <p>This feed is maintained by <a href="mailto:$editor_addr">$editor_name</a>.
    </body>
</html>
#end filter
